.flexbox {
display: flex;
flex-direction: row;
justify-content: space-between;
/* add the flexbox descriptions here */
}
.window {
padding-left: 600px;
padding-top: 150px;
padding-right: 600px;
padding-bottom: 600px;
text-align: center;
}
